body {
    font-family: 'Roboto', sans-serif;
}
.portfolio-body {
    background-color: #131A2D;
    color: #D0C4AB;
}

.text-normal {
    font-weight: 500;
}

.text-thin {
    font-weight: 300;
}

.title-logo {
    margin-top: 20px;
}

.top {
    margin-top: 20px;
}
.bottom {
    margin-bottom: 20px
}