/* default */
body {
    font-family: "Lucida Grande", sans-serif;
    color: #666666;
}

/* header */
.top {
    padding-top: 25px;
}

h1 {
    font-size: 48px;
}

/* content */
h2 {
    margin-top: 0;
}

.subtitle {
    color: #f07c17;
    font: bold 24px "Ludica Grande", sans-serif;
}

.text {
    font: 16px/2 "Lucida Grande", sans-serif;
    margin-top: 27px;
}

.features {
    padding: 30px;
    margin-top: 30px;
    border: 1px solid #cccccc;
}

.second-row {
    margin-top: 20px;
}